<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medhead.kf100.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.medhead.kf100.model.Orders">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="user_id" property="userId" />
        <result column="pay_log_id" property="payLogId" />
        <result column="out_trade_no" property="outTradeNo" />
        <result column="total_fee" property="totalFee" />
        <result column="finish_time" property="finishTime" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="subject" property="subject" />
        <result column="body" property="body" />
        <result column="pay_type" property="payType" />
        <result column="expire_time" property="expireTime" />
        <result column="qr_code_url" property="qrCodeUrl" />
    </resultMap>

</mapper>
